.content {
  display: flex;
  justify-content: space-between;
  .container-board {
    flex: 1;
    margin: 0 20px;
    transition: all 300ms 0s ease-out;
  }
  .list-users {
    list-style: none;
    padding-left: 0;
    font-size: 20px;
    font-weight: 400;
    li {
      cursor: pointer;
      padding: 4px 8px;
      &:hover {
        background: rgba(255, 0, 0, 0.123);
      }
      &.active {
        background-color: rgb(118, 231, 156);
      }
    }
  }
  .user-active {

    .upload-pdf {
      background-color: #1976d2;
      border-radius: 7px;
      padding: 5px 10px;
      cursor: pointer;
      color: #fafafa;
      font-weight: 700;
      input {
        display: none;
      }
    }
    p {
      margin: 10px 0;
    }
  }
}